* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    font-family: "Poppins", sans-serif;
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272640;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    position: relative;
}

.card__heart, .card__cart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.card__heart:hover {
    color: red;
}
.card__cart {
    left: unset;
    right: 20px;
}
.card__img {
    width: 86%;
    margin-bottom: 26px;
    transition: 0.5s;
}
.card__img img {
    width: 100%;
    height: 100%;
    left: 7%;
    right: unset;

}
.card__title, .card__price {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    transition: 0.5s;
}
.card__title {
    color: #4daf54;
}
.card__price {
    margin-bottom: 16px;
}
.card__color, .card__size {
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.card__size span {
    padding: 2px 5px;
    background-color: #dadada;
    color:  black;
    border-radius: 5px;
    margin: 0 2px;
}
.card__size h3 {
    margin-right: 8px;
}
.card__color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px; 
}
.card__color h3 {
    margin-right: 8px;
}
.card__color--red  {
    background-color: red;
}
.card__color--white {
    background-color: white;
}
.card__color--black {
    background-color: black;
}
.card__color,
.card__size, .card__actions {
    margin-bottom: 20px;
}
.card__actions button {
    background-color: #4daf54;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
}
.card:hover .card__img {
    transform: translateY(-90px) rotate(20deg) translateX(50px);
}
.card:hover .card__title {
    transform: translate(-20px, -72px);
}
.card:hover .card__price {
    transform: translate(-30px, -72px);
}
.card__size {
    margin-top: 180px;
}
.card__size, .card__color, .card__actions {
    /* visibility: hidden; */
    opacity: 0;
}
.card:hover .card__size {
    margin-top: -60px;
}
.card__size, .card__color, .card__actions {
    transition: 0.5s;
}
.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__actions {
    opacity: 1;
    visibility: visible;
}